@import "vars";
@import "mixins";
@import "vendor/reset.scss";
@import "fonts";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT-Root-UI_Regular', sans-serif;
    font-weight: 400;
    color: $primary;
    font-size: 18px;
    line-height: 26px;
}

a {
    text-decoration: none;
    color: inherit;
}

@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/social.scss";
@import "blocks/phone.scss";
@import "blocks/offer.scss";
@import "blocks/btn.scss";
@import "blocks/services.scss";
@import "blocks/page-title.scss";
@import "blocks/working-process.scss";
@import "blocks/prices.scss";