.header {
    display: flex;
    position: fixed;
    width: calc(100% - #{$sidebar-width});
    top: 0;
    right: 0;
    z-index: $z-index-1000;
    background-color: #0d0d0d;
    box-shadow: 0 5px 22px rgba(0, 0, 0, .25);

    @include breakpoint($tablet-bp) {
        width: 100%;
     }
}

.header__left {
    width: 60%;

    @include breakpoint($tablet-bp) {
        width: 40%;
     }
}

.header__right {
    width: 40%;
    display: flex;
    justify-content: flex-end;

    @include breakpoint($tablet-bp) {
        width: 60%;
     }
}