.pagination {
    margin-top: 8rem;

    @include breakpoint($tablet-bp) {
        margin-top: 5rem;
    }
}

.pagination__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__item {
    margin: 0 .5rem;
}

.pagination__link,
span {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    background-color: #0D0D0D;
    box-shadow: 0 0 10px rgba(#000, .15);
    transition: background-color .2s linear;

    &:hover {
        background-color: lighten(#0D0D0D, 10%);
    }

    &.active {
        background-color: #104BE3;
        box-shadow: 0 0 10px rgba(#104BE3, .15);
    }
}