.post {
    background-color: $primary;
    margin-bottom: 3rem;
    border-radius: 5px;
    box-shadow: 0px 15px 25px rgba(#000, .35);
    padding: 2.5rem;
    overflow: hidden;

    @include breakpoint($mobile-bp) {
        padding: 1.5rem;
    }
}

.post__actions {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    
    a {
        opacity: .6;
        transition: opacity .2s linear;

        &:hover {
            text-decoration: underline;
            opacity: 1;
        }
    }
}

.post__actions-icon {
    margin-left: .8rem;
}

.post__head {
    margin: 0 0 2.5rem;

    &--preview {
        margin: -2.5rem -2.5rem 2.5rem;
    }
}

.post__img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.post__video-preview {
    
    margin-bottom: 2.5rem;
}

.post__title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.4;

    &--open {
        margin-bottom: .75rem;
    }
}

.post__title-link {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.post__description {
    color: #d2d2d2;
    line-height: 21px;
    margin-bottom: 2.1rem;
}

.post__subtitle {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.post__text {
    color: #fff;
    line-height: 21px;
    opacity: .9;
    border-bottom: 1px solid #1C1C1C;
    padding-bottom: 1rem;
    font-size: 1.4rem;

    h2, h3, h4, h5, h6 {
        font-weight: 700;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1.15em;
    }

    h5, h6 {
        font-size: 1em;
    }

    ol, ul {
        margin-bottom: 2rem;
    }

    ol {
        list-style: decimal;
        list-style-position: inside;
    }

    table {
        width: 100%;
        margin-bottom: 2rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    p {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    a {
        color: #F3EBA2;

        &:hover {
            text-decoration: underline;
        }
    }
}

.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint($mobile-bp) {
        flex-direction: column;
        align-items: flex-start;

    }
}

.post__info {
    display: flex;
    color: #828282;
    font-size: 1.2rem;
    line-height: 1.2;
    
    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
    
    @include breakpoint($mobile-bp) {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }
}

.post__info-item {

    &:not(:last-child):after {
        content: "";
        position: relative;
        top: -2px;
        margin: 0 1.5rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #c4c4c4;
        display: inline-block;
    }
}

.post__btn {
    border: none;
    background-color: transparent;
    color: #107EFF;
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    @include breakpoint($mobile-bp) {
        padding-left: 0;
    }
}