.profile {
    margin-top: -5rem;

    @include breakpoint($tablet-bp) {
        margin-top: -2rem;
        position: relative;
        border-bottom: 1px solid #1c1c1c;
    }
}

.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 7px 20px rgba(#000, .25);
    margin: 0 auto 2rem;
    position: relative;

    @include breakpoint($tablet-bp) {
        width: 6.5rem;
        height: 6.5rem;
        margin-left: 0;
        position: absolute;
        left: 0;
    }
}

.profile__header {
    margin-bottom: 2rem;
    text-align: center;

    @include breakpoint($tablet-bp) {
        text-align: left;
        padding-left: 8rem;
        padding-top: 3rem;
    }
}

.profile__name {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;

    @include breakpoint($tablet-bp) {
        font-size: 1.5rem;
    }
}

.profile__prof {
    font-weight: 300;
    color: #dedede;

    @include breakpoint($tablet-bp) {
        font-size: 1.2rem;
    }
}

.profile__text {
    font-size: 1.2rem;
    text-align: center;
    border-top: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    padding: 3rem 0;
    margin: 3rem 0;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}