.subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 16.5rem;
    background-color: #3137C9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
    border-radius: 0 0 5px 5px;
    padding: 0.5rem 0;

    @include breakpoint($tablet-bp) {
        position: static;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        padding-left: 1rem;
      }
}

.subnav__link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.45rem 1.2rem;
    transition: background-color .2s ease-in-out;

    &:hover {
        background-color: darken(#3137C9, 5%);
    }

    @include breakpoint($tablet-bp) {
        padding-left: 0;
        padding-right: 0;
        font-size: 1.5rem;

        &:hover {
            background: none;
        }
      }
}