$black:       #121920;
$gray-dark:   #768298;
$gray-medium: #BBC4D6;
$gray-light:  #EBEBF1;
$bg:          #FAFAFA;
$white:       #FFFFFF;
$red-light:   #F95A59;
$pink:        #DC2C53;
$violet:      #A7507B;
$blue:        #6680AE;
$blue-light:  #34AADD;

