.services {
  padding: 90px 0 75px;
}

.services__grid {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 6px;

  @include breakpoint($tablet-bp) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  max-width: 287px;
  width: 100%;
  min-height: 528px;
  position: relative;

  &--revers {
    flex-direction: column-reverse;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 264px;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-top: 15px solid #e7e8eb;
    }
  }

  &--top {

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 264px;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      border-bottom: 15px solid #e7e8eb;
    }
  }
}

.services__text {
  height: 264px;
  padding: 60px 50px 60px 25px;
  font-family: "PT-Root-UI_Bold", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  color: $secondary;
  background-color: #e7e8eb;
  position: relative;

  &--big {
    padding: 50px 40px 60px 25px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 25px;
    width: 46px;
    height: 2px;
    background-color: #bac2d3;
  }
}
