@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header,
.footer {
  height: 90px;
  padding: 35px;
  background-color: #323c46;
  color: #fff;
  text-align: center;
  font-family: "LabGrotesque-Medium";
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
}

.catalog {
  padding: 10px 0px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    grid-auto-rows: minmax(155px, 1fr);
    gap: 10px;
  }

  &__item {
    background: #f1f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;

    &--wide {
      grid-column: 1 / 3;
    }

    &--pink {
      background: #ffc1c1;
    }

    &--blue {
      background: #85b1f9;
    }
  }
}

.cashback {
  padding-bottom: 10px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(102.25px, 1fr));
    grid-auto-rows: repeat(2, 102.22px);
    gap: 6px;
  }

  &__item {
    background: #71787f;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    height: 102.22px;

    &--big {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      height: 211px;
      text-align: center;
      font-weight: 400;
      font-size: 18.1121px;
      line-height: 26px;

      p {
        overflow-y: auto;
      }
    }
  }
}

.parameters {
  display: none;
}

.sale-catalog {
  padding-bottom: 10px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(155px, 1fr));
    grid-auto-rows: minmax(155px, 1fr);
    gap: 10px;
  }

  &__item {
    background: #fff48e;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;

    &--wide {
      grid-column: 1 / 3;
    }

    &--red {
      background: #ee6956;
    }

    &--blue-light {
      background: #d9eaff;
    }
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  .container {
    padding: 0px 12px;
  }

  .title {
    span {
      display: inline-block;
    }

    &--white {
      color: #fff;
      font-weight: 400;
      font-family: "LabGrotesque-Regular";
    }
  }

  .cashback {
    order: -1;
    padding: 10px 0px 0px 0px;

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(102.25px, 1fr));
      grid-auto-rows: repeat(2, 241px);
    }

    &__item {
      height: 241px;

      &--big {
        justify-content: flex-start;
        padding: 30px 45px 53px 25px;
        height: 492px;
      }
    }
  }

  .catalog {
    padding: 10px 0px;

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(155px, 241px));
      grid-auto-rows: repeat(2, minmax(155px, 1fr));
      gap: 10px;
    }

    &__item {
      &--pink {
        grid-column: 3;
        grid-row: 1;
      }
    }
  }

  .parameters {
    display: block;

    &__grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(102.25px, 1fr));
      grid-auto-rows: repeat(2, 241px);
      gap: 10px;
    }

    &__item {
      height: 241px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: #c3f3e2;
      padding: 15px;

      &--big {
        grid-column: 2 / 4;
        grid-row: 1 / 4;
        justify-content: flex-start;
        padding: 50px;
        height: 492px;
      }

      &--image {
        max-width: 241px;
        height: 241px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all 1s ease-out;
        overflow: hidden;
        position: relative;
        z-index: 0;

        img {
            opacity: 0;
            position: relative;
            z-index: 10;
            width: 61px;
            height: 61px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            backdrop-filter: blur(24px);
        }

        &:hover::after {
            opacity: 1;
            visibility: visible;
        }

        &:hover {
            img {
                opacity: 1;
            }
        }

      }
    }

    &__line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0px;
      }

      hr {
        margin: 5px 0 0 0;
        padding: 0;
        height: 0;
        border: none;
        border-top: 1px dashed #71787f;
        width: 100%;
      }
    }

    &__name {
      font-weight: 700;
      max-width: 40%;
      display: inline-block;
      margin-right: 3px;
      white-space: nowrap;
    }

    &__value {
      max-width: 40%;
      font-family: "LabGrotesque-Regular";
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      margin-left: 3px;
      white-space: nowrap;
    }
  }

  .sale-catalog {
      &__grid {
        grid-template-columns: repeat(3, minmax(155px, 241px));
        grid-auto-rows: repeat(2, 241px);
        gap: 10px;
      }

      &__item {
          &--wide {
              grid-column: 2 / 4;
          }

          &--first {
              grid-row: 1;
              grid-column: 1;
          }

          &--red {
            grid-row: 2;
            grid-column: 3;
          }

          &--blue-light {
            grid-row: 2;
            grid-column: 1;
          }
      }
  }
}
