.page-title {
  font-family: "PlayfairDisplay-Bold";
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  color: $secondary;

  &--center {
    text-align: center;
  }

  span {
    display: block;
  }

  @include breakpoint($mobile-bp) {
    font-size: 36px;
    line-height: 30px;
  }
}
